
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: red;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

input[type=text] {
  width: 200px;
  padding: 5px;
}

input[type=submit] {
  width: 100px;
}

textarea {
  padding: 5px;
  width: 350px;
  height: 80px;
}
